@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to koblike sheets */
.koblike .item-form {
  font-family: "Roboto", sans-serif;
}
.koblike .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.koblike .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.koblike .sheet-header .header-fields {
  flex: 1;
}
.koblike .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.koblike .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
}
.koblike .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.koblike .sheet-header input[type=number]::-webkit-inner-spin-button, 
.koblike .sheet-header input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: auto;
  opacity: 1;
}
.koblike .sheet-header input[type="number"] {
  -webkit-appearance: auto;
  appearance: auto;
}
.koblike .sheet-tabs {
  flex: 0;
}
.koblike .sheet-body,
.koblike .sheet-body .tab,
.koblike .sheet-body .tab .editor {
  height: 100%;
}
.koblike .tox .tox-editor-container {
  background: #fff;
}
.koblike .tox .tox-edit-area {
  padding: 0 8px;
}
.koblike .resource-label {
  font-weight: bold;
}
.koblike .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.koblike.kobdark .items-header .kobdark {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  color: rgb(240, 240, 224);
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.koblike .items-header > * {
  font-size: 14px;
  text-align: center;
}
.koblike .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.koblike .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.koblike.kobdark .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: rgb(240, 240, 224)
}
.koblike .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.koblike .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.koblike .items-list .item-name h3, .koblike .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.koblike .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.koblike .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.koblike .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.koblike .items-list .item:last-child {
  border-bottom: none;
}
.koblike .items-list .item .item-name {
  color: #191813;
}
.koblike.kobdark .items-list .item .item-name {
  color: rgb(240, 240, 224)
}
.koblike .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.koblike .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.koblike .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.koblike .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.koblike .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.koblike .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.koblike .effects .item .effect-source,
.koblike .effects .item .effect-duration,
.koblike .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.koblike .effects .item .effect-controls {
  border: none;
}
.chat-message .dice-roll .dice-total.success {
  color: rgb(0, 170, 0);
}
.chat-message .dice-roll .dice-total.failure {
  color: rgb(255, 0, 0);
}
.koblike i.config-skills {
  font-size:10px;
}
.koblike.skillDialog input[disabled]
{
  border:solid 1px
}
.chat-message .koblike-header img {
  width:min-content

}
.chat-message .koblike-header .subtype {
  text-align: end;
  margin-top: -14px;
  font-size: 11px;
  font-style: bold;
  color:#444

}
/*KOB Dark implementation */
.koblike.kobdark.window-app .window-content {
  background:rgba(22, 22, 26, 0.9);
  color: rgb(240, 240, 224);
  --color-underline-header:rgb(240, 240, 224);

}
.koblike.kobdark.window-app .window-content button {
  background:rgb(240, 240, 224);

}
.koblike.kobdark input[type="text"], .koblike.kobdark input[type="number"], .koblike.kobdark input[type="password"], .koblike.kobdark input[type="date"], .koblike.kobdark input[type="time"], .koblike.kobdarkinput[type="search"] {
  color: rgb(240, 240, 224)
}
.koblike.kobdark select {
  color: rgb(240, 240, 224)
}
.koblike.kobdark .dialog-content, .koblike.kobdark .dialog-buttons {
  background-color:#111
}
.koblike.kobdark .editor-content {
  color:rgb(240, 240, 224);
}


/* Generated by Glyphter (http://www.glyphter.com) on  Sun Sep 15 2024*/
@font-face {
  font-family: 'dice';
  src: url('../assets/fonts/dice.eot');
  src: url('../assets/fonts/dice.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/dice.woff') format('woff'),
       url('../assets/fonts/dice.ttf') format('truetype'),
       url('../assets/fonts/dice.svg#dice') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*='icon-']:before{
display: inline-block;
 font-family: 'dice';
 font-style: normal;
 font-weight: normal;
 line-height: 1;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 box-sizing: border-box;
  border: 1px solid var(--color-border-dark);
  border-radius: 2px;
  max-width: 100%;
}
.icon-1d4:before{content:'\0041';}
.icon-1d6:before{content:'\0042';}
.icon-1d8:before{content:'\0043';}
.icon-1d10:before{content:'\0044';}
.icon-1d12:before{content:'\0045';}
.icon-1d20:before{content:'\0046';}

