<div class="descblock">
    <h3 class="inline-name">{{name}}</h3>
    {{#if system.description}}
    <span class="effect">{{{system.description}}}</span>
    {{else}}
    <span class="effect">(No Effect Data)</span>
    {{/if}}
    
</div>